*{
    font-family: Arial, sans-serif;
}
:root{
    --header-height: 100px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #bdb7b0;
}
.nav-bar{
    display: flex;
    gap: 20px;
    padding-right: 30px;
    padding-top: 30px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}
.nav-bar a{
    text-decoration: none;
    color: white;
    
}
.titulo {
    padding-left: 30px;
    padding-top:28px ;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
    
}
.titulo a{
    color: white;
    text-decoration: none;   
}
h2{
    text-align: center;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: normal;
    color: black
}
.Conocenos{
    text-align: left;
    padding-left: 30px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.cuadro {
  
    width: 1129px; /* Ajusta el ancho del cuadro*/
    height: 400px; /* Ajusta el largo del cuadro */
    border:solid #000; /* Borde del cuadro */
    overflow: hidden;
    margin-left: 109px;
 
}
.cuadro img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.texto {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px; /* Ajusta el tamaño del texto aquí */
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente para el texto */
    padding: 20px; /* Espacio alrededor del texto */
}
div li{
border:solid #000;
}
.header{
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    background-color: black;
    justify-content: space-between;
    height: 100px;
    display: flex;
}
.titulo{
    padding-left: 30px;
    padding-top:30px ;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.Contenido{
    padding-top: calc(var(--header-height) + 20px);
    background-color:  #588157; /* color de fondo*/
}
table {
    margin-left: 59px;/*mueve el cuadro*/
    width: 91%; /* Ajusta el ancho de la tabla al 100% del contenedor */
    border-collapse: collapse; /* Colapsa los bordes para evitar bordes dobles */
}
th, td {
    background-color: #3A5A40;/* color de la tablas*/
    border: 1px solid #000; /* Borde alrededor de las celdas */
    padding: 1px; /* Espacio dentro de las celdas */
    text-align: left; /* Alineación del texto */
}
th {
    background-color: #f2f2f2; /* Fondo de los encabezados */
}
.contenido2 {
    font-size: 14px; /* Tamaño del texto */
    border:solid #000;
    padding: 10px;
    height: 12px;
}
h3{
    text-align: left;
}
.img2{
    width: 19%;
    height: 13%;
    padding-bottom: 5px;
    margin-left: 100px;
}
p{
  text-align: left;
  color: rgb(10, 10, 10);
}

/*para el cuadro interntar solo ajustar el pading y que el texto quede centrano con titulo y imagen*/
/*a partir de aca es el cuadro de abajo.*/
.contenedor2{
    display: grid;                     /* definimos los tamaños de las columnas y las filas del mismo. Esto significa que,  tendríamos una cuadricula o grid de 4 celdas en total:*/
    grid-template-columns: repeat(4, 1fr); /* 4 columnas iguales */
    gap: 1px;                         /* Espacio entre cuadros. El gap en CSS es un espacio entre elementos flexbox, utilizando propiedades como gap y grid-gap para establecer separaciones visuales personalizadas y limpias. */
    padding: 10px;                     /* Espaciado interno */
    padding-left: 10px;
    padding-right: 111px;
    width:110%;
}

.cuadro2{
    padding: 20px;                     /* Espaciado interno */
    box-sizing: border-box;            /* Incluye el padding en el tamaño total. esto me salvo la vida. */
    border: 2px solid #121312 ;            /* Borde */
    /*border-radius: 10px;                Bordes redondeados*/ 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Sombra */
    background-color:rgb(231, 231, 101);         /* Color de fondo */
    color: #333;                       /* Color del texto */
    margin-left:-1px ;
    margin-right: -1px;
    height: 95%;
}

.cuadro2 h2{
    text-align: center;                 /* Centrar el título */
    margin: 0;                         /* Eliminar margen por defecto */
}

.cuadro2 p{
    text-align: justify;                /* Justificar el contenido */
}
/*.color3{
    background-color: #f2f2f2;
    padding-bottom: 5px;
}*/
.margen{ /*para la barra entre el cuadro con la imagen y el cuadro con datos*/
    padding: 20px;
    width:1128px;
    background-color:#3A5A40;
    margin-left: 110px;
}
