*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/*Header*/
header{
    width: 100%;
    display: flex;
    height:auto;
    margin: 0;
    padding: 0;
    position: sticky;
    top:0;
    background-color: #588157;
    justify-content: space-between;
    transition:background-color 0.4s ease-in-out;
}
header.scrolled{
    background-color: #344E41;
    opacity: 0.98;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
/*Titulo*/
.titulo{
    margin-left: 10%;
    padding-top: 0;
    margin-top:  3%;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #DAD7CD;
}
.titulo a{
    color: #DAD7CD;
    text-decoration: none;
}
header.scrolled .titulo a{
    color:white;
    transition: color 0.4s ease-in-out;
}
/*Barra de navegacion*/
.nav-bar{
    display: flex;
    gap: 20px;
    padding-right: 3vw;
    padding-top: 1.5vw;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size:x-large;
}
.nav-bar a{
    text-decoration: none;
    color: #DAD7CD;
    transition: color 0.4s ease-in-out;
}
header.scrolled .nav-bar a{
    color: white;
}
.BotonNav:hover{
    color: #F4EBE0;
    background-color: #344E41;
    border-radius: 8px;
    transition: background-color 0.4s ease-in-out;
}
.BotonNav:active{
    color: #F4EBE0;
    background-color: #797572;
}
.navbar-collapse.show .nav-link {
    font-size: 20px; /* Cambia el tamaño aquí según lo que necesites */
}
.header.active{
    background-color: #344E41;
    transition: background-color 0s ease-in-out;
}
#navbarNav{
    padding-left: 3%;
    background-size: cover; 
}
.navbar-nav{
    padding-top: 0;
}
/*Contenido*/
.TituloInicio{
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-size: 2rem;    
    color: #DAD7CD;
}
.contenido{
    background-color: #344E41;
    width: fit-content;
    margin: auto;
    padding: 50px;
    border-radius: 10px;
}
footer a{
    text-decoration: none;
    color: white;
    text-decoration: underline;
  }

  .navbar-toggler-icon {
    filter: brightness(0) invert(1);
}