*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/*Header*/
header{
    display: flex;
    height:auto;
    margin: 0;
    padding: 0;
    position: sticky;
    top:0;
    background-color: #588157;
    justify-content: space-between;
    transition:background-color 0.4s ease-in-out;
}
header.scrolled{
    background-color: #344E41;
    opacity: 0.98;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
/*Titulo*/
.titulo{
    padding-left: 3vw;
    padding-top:1vw ;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-size:xx-large;
    font-style: normal;
    
}
.titulo a{
    color: #DAD7CD;
    text-decoration: none;
}
header.scrolled .titulo a{
    color:white;
    transition: color 0.4s ease-in-out;
    
}
/*Barra de navegacion*/
.nav-bar{
    display: flex;
    gap: 20px;
    padding-right: 3vw;
    padding-top: 1.5vw;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size:x-large;
}
.nav-bar a{
    text-decoration: none;
    color: #DAD7CD;
    transition: color 0.4s ease-in-out;
}
header.scrolled .nav-bar a{
    color: white;
}
.BotonNav:hover{
    color: #F4EBE0;
    background-color: #344E41;
    border-radius: 8px;
    transition: background-color 0.4s ease-in-out;
}
.BotonNav:active{
    color: #F4EBE0;
    background-color: #797572;
}
/*#dropdownMenuButton2{
    background-color: #F4EBE0;
    font-family: "playfair display",serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: #797572;
    padding: 0;
    margin: 0;
    transition: background-color 0.4s ease-in-out;
}
#dropdownMenuButton2:hover{
    background-color:#555250;
    color: white;
    transition: background-color 0.4s ease-in-out;
}
header.scrolled #dropdownMenuButton2{
    background-color: #555250;
    color: white;
    transition: background-color 0.4s ease-in-out;
    
}
header.scrolled #dropdownMenuButton2:hover{
    background-color:#797572;
}*/
/*Contenido*/
.Contenido{
    background-color: #588157;
    }
.TituloInicio{
    text-align: center;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;    
    color: #DAD7CD;
}
.FondoImagenes{
    padding: 50px;
    gap: 10px;
    display: flex;
    background-color: #3A5A40;
    margin-right: 3%;
    margin-left: 3%;
    height: 50%;
    justify-content: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.ReenvioAProductos{
    text-align: center;
    font-size: 30px;
    background-color: #3A5A40;
    margin-right: 3%;
    margin-left: 3%;
    padding-bottom: 30px;
}
/*Aca van almacenadas las imagenes del inicio*/
.boxcontainer{
    display: flex;
    gap: 10px;
    margin-left: 3%;
    margin-right: 3%;
}
.card img{
    width: 100%;
    height: 100%;
    background-image: cover;
}
.card figcaption{
    background-color:#F4EBE0;
    transform: translateY(calc(100%-4rem));
    transition: transform 0.6s;
    text-align: center;
}
/*Intento de hacerlo responsible*/
.navbar-collapse.show .nav-link {
    
    font-size: 20px; /* Cambia el tamaño aquí según lo que necesites */
}
.header.active{
    background-color: #344E41;
    transition: background-color 0s ease-in-out;
}
#navbarNav{
    padding-left: 3%;
    background-size: cover; 
}