*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/*Header*/
header{
    display: flex;
    height: 100px;
    margin: 0;
    padding: 0;
    position: sticky;
    top:0;
    background-color: #F4EBE0;
    justify-content: space-between;
    transition:background-color 0.4s ease-in-out;
    z-index: 99;
}
header.scrolled{
    background-color: #344E41;
    opacity: 0.98;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
/*Titulo*/
.titulo{
    padding-left: 3vw;
    padding-top:1vw ;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
    
}
.titulo a{
    color: #797572;
    text-decoration: none;
}
header.scrolled .titulo a{
    color:white;
    transition: color 0.4s ease-in-out;
    
}
/*Barra de navegacion*/
.nav-bar{
    display: flex;
    gap: 20px;
    padding-right: 3vw;
    padding-top: 1.5vw;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}
.nav-bar a{
    text-decoration: none;
    color: #797572;
    transition: color 0.4s ease-in-out;
}
header.scrolled .nav-bar a{
    color: white;
}
.BotonNav:hover{
    color: #F4EBE0;
    background-color: #344E41;
    border-radius: 8px;
    transition: background-color 0.4s ease-in-out;
}
.BotonNav:active{
    color: #F4EBE0;
    background-color: #797572;
}
/*Contenido*/
.Contenido{
    background-color: #F4EBE0;
}
aside{
    float: left;
}
#filter-buttons button {
    border-radius: 3px;
    background: #fff;
    border-color: transparent;
  }
  #filter-buttons button:hover {
    background: #ddd;
  }
  #filter-buttons button.active {
    color: #fff;
    background: #6c757d;
  }
  #filterable-cards .card {
    width: 15rem;
    border: 2px solid transparent;
  }
  #filterable-cards .card.hide {
    display: none;
  }
  @media (max-width: 600px) {
    #filterable-cards {
      justify-content: center;
    }
    #filterable-cards .card {
      width: calc(100% / 2 - 10px);
    }
  }