:root{
    --header-height: 100px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.header{
    width: 100%;
    height: var(--header-height);
    margin: 0;
    padding: 0;
    position: fixed;
    background-color: #bdb7b0;
    justify-content: space-between;
    display: flex;
    /*box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);*/
}
.titulo{
    padding-left: 30px;
    padding-top:28px ;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
    
}
.titulo a{
    color: white;
    text-decoration: none;
    
}
.nav-bar{
    display: flex;
    gap: 20px;
    padding-right: 30px;
    padding-top: 30px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}
.nav-bar a{
    text-decoration: none;
    color: white;
    
}
.Contenido{
    padding-top: calc(var(--header-height) + 20px);
    background-color: #F4EBE0;
    }